mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb(style=`background-image:url(${video.thumbUrl})`)
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta
                span #{video.owner.name}
            div.video-mixin__info
                span.video-mixin__view #{video.meta.views} 회 / 
                span.video-mixin__createdAt #{video.createdAt}