extends page-base

block content
    div.page-content__main
        div.page-content__main__profile.edit-profile__main__profile
            div.profile__userTitle
                span Edit profile
            if loggedInUser.avatarUrl
                div.big__frame
                    if loggedInUser.avatarUrl.includes("uploads/avatars/")
                        img(src=`/${loggedInUser.avatarUrl}`).profile__frame
                    else if loggedInUser.avatarUrl
                        img(src=`${loggedInUser.avatarUrl}`).profile__frame
            else
                span.big__frame 😵
            a(title="Click if you need to change your avatar!😉").editProfileBtn
                i.fa-solid.fa-pen
        form(method="POST", enctype="multipart/form-data").edit-profile__form.userInfo__form
            input(type="file", id="avatar", name="avatar", accept="image/*")
            div.editProfileFormWrap
                label(for="editProfile-form__name") Name
                input(id="editProfile-form__name", placeholder="Name", name="name", type="text", required, value=loggedInUser.name)
            div.editProfileFormWrap
                label(for="editProfile-form__email") Email
                input(id="editProfile-form__email", placeholder="Email", name="email", type="email", required, value=loggedInUser.email)
            div.editProfileFormWrap
                label(for="editProfile-form__username") Username
                input(id="editProfile-form__username", placeholder="Username", name="username", type="text", required, value=loggedInUser.username)
            div.editProfileFormWrap
                label(for="editProfile-form__location") Location
                input(id="editProfile-form__location", placeholder="Location", name="location", type="text", required, value=loggedInUser.location)
            input(id="editProfile-form__updateBtn", type="submit", value="Update Profile")
            if !loggedInUser.socialOnly
                a(href="change-password" title="Click if you need to change your password!😉").editPasswordBtn
                    i.fa-solid.fa-lock
block scripts 
    script(src="/static/js/editProfile.js")